.c-cell {
  display: inline-block;
  width: 150px;
  height: 40px;
}

.c-cell__checkbox {
  display: inline-block;
  vertical-align: top;
}

.c-cell__input {
  display: inline-block;
  vertical-align: top;
}